
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nextprevious{
    display: flex;
}

h3, p, .nextprevious{
    padding: 1%;
}

#output{
    #getdetails{
        cursor: pointer;
        
    }
    #getdetails:hover{
        background-color:#2c8bcf2f;
    }
}

#getdetails:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.034);
    color: black;
    padding: 1%;
}
#getdetails:nth-child(even){
    background-color: rgba(128, 128, 128, 0.048);
    color: black;
    padding: 1%;
}

.nextprevious{
    button{
        padding: 6px 10px;
        border: none;
        margin: 0 2px;
        background: black;
        color: white;
    }
   
}

#offcon{
    padding: 6px 10px;
    border: none;
    margin: 0 10px;
    background: black;
    color: white;

}