*,
*::before,
*::after {
	box-sizing: border-box;
}
.container {
	z-index: 1;
    background-blend-mode: multiply;
    
}

.bird {
	background-image: url(../assets/bird-cells.svg);
	background-size: auto 100%;
	width: 88px;
    height: 125px;
    border:1px solid red;
	will-change: background-position;
	
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
    animation-iteration-count: infinite;
    
    animation-duration: 1s;
	animation-delay: -0.5s;	

	

}


@keyframes fly-cycle {
	
	100% {
		background-position: -900px 0;
	}
	
}




.bird-container {
    border:1px solid black;
	position: absolute;
	top: 20%;
	left: -10%;
	//transform: scale(0) translateX(-10vw);
	will-change: transform; //hint
	
	animation-name: fly-movement;

	//how the animation is progreess over a cycle
	animation-timing-function: linear;

	//How Many times
	animation-iteration-count: infinite;
    
    //Howlong
	animation-duration: 15s;
	

	animation-delay: 0;
	
}


@keyframes fly-movement {
	
	0% {
		transform: scale(0.3) translateX(-10vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
}

@keyframes fly-movement {
	
	0% {
		
	}
	
	10% {
		
	}
	
	20% {
		
	}
	
	30% {
		
	}
	
	40% {
		
	}
	
	50% {
	
	}
	
	60% {
		
	}
	
	100% {
		
	}
	
}

@keyframes fly-movement {
	
	0% {
		transform: translateX(-10vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw);
	}
	
	30% {
		transform: translateY(4vh) translateX(50vw);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw);
	}
	
}






.about-privacy{
	background-color:#5b5246;
	color: white;
	width: 50%;
	padding: 2%;
	
}